<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spreadsheet Tool</title>
    <link rel="icon" href="../images/comedical-icon.jpg">
    <script type="text/javascript" src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
</head>
<body>
    <h1>Spreadsheet for Sales tracings</h1>
    
    <div id="myGrid" style="height:600px; width: 500px;" class="ag-theme-balham"></div>

    <script src="spreadsheet.js"></script>
</body>
</html>